In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [4]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [5]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [11]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
35/35 [==============================] - 0s 1ms/step - loss: 0.7167 - accuracy: 0.5136
Epoch 2/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6335 - accuracy: 0.7114
Epoch 3/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5710 - accuracy: 0.7967
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5210 - accuracy: 0.8276
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4817 - accuracy: 0.8276
Epoch 6/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4526 - accuracy: 0.8330
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4297 - accuracy: 0.8348
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4110 - accuracy: 0.8339
Epoch 9/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3949 - accuracy: 0.8394
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3812 - accuracy: 0.8421
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8448
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3590 - accuracy: 0.8485
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8557
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8630
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8666
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3247 - accuracy: 0.8730
Epoch 17/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3170 - accuracy: 0.8784
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3098 - accuracy: 0.8820
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3040 - accuracy: 0.8902
Epoch 20/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2979 - accuracy: 0.8875
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2920 - accuracy: 0.8920
Epoch 22/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2868 - accuracy: 0.8975
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2823 - accuracy: 0.8975
Epoch 24/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2771 - accuracy: 0.9002
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2727 - accuracy: 0.9020
Epoch 26/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2685 - accuracy: 0.9029
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2639 - accuracy: 0.9083
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2605 - accuracy: 0.9074
Epoch 29/100
13/35 [==========>...................] - ETA: 0s - loss: 0.2543 - accuracy: 0.9087
Epoch 00029: saving model to checkpoints/weights.29.hdf5
35/35 [==============================] - 0s 5ms/step - loss: 0.2572 - accuracy: 0.9093
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2539 - accuracy: 0.9111
Epoch 31/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2506 - accuracy: 0.9102
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2478 - accuracy: 0.9129
Epoch 33/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2439 - accuracy: 0.9129
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2421 - accuracy: 0.9120
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2396 - accuracy: 0.9147
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2371 - accuracy: 0.9138
Epoch 37/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2342 - accuracy: 0.9165
Epoch 38/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2321 - accuracy: 0.9138
Epoch 39/100
35/35 [==============================] - 0s 7ms/step - loss: 0.2291 - accuracy: 0.9174
Epoch 40/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2281 - accuracy: 0.9192
Epoch 41/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2257 - accuracy: 0.9201
Epoch 42/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2236 - accuracy: 0.9192
Epoch 43/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2218 - accuracy: 0.9201
Epoch 44/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2209 - accuracy: 0.9211
Epoch 45/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2182 - accuracy: 0.9220
Epoch 46/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2162 - accuracy: 0.9211
Epoch 47/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2150 - accuracy: 0.9211
Epoch 48/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2135 - accuracy: 0.9211
Epoch 49/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2122 - accuracy: 0.9229
Epoch 50/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2113 - accuracy: 0.9229
Epoch 51/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2093 - accuracy: 0.9229
Epoch 52/100
35/35 [==============================] - 0s 952us/step - loss: 0.2080 - accuracy: 0.9229
Epoch 53/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2068 - accuracy: 0.9247
Epoch 54/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2044 - accuracy: 0.9256
Epoch 55/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2037 - accuracy: 0.9256
Epoch 56/100
35/35 [==============================] - 0s 981us/step - loss: 0.2027 - accuracy: 0.9265
Epoch 57/100
35/35 [==============================] - 0s 939us/step - loss: 0.2014 - accuracy: 0.9292
Epoch 58/100
 1/35 [..............................] - ETA: 0s - loss: 0.2246 - accuracy: 0.9062
Epoch 00058: saving model to checkpoints/weights.58.hdf5
35/35 [==============================] - 0s 1ms/step - loss: 0.2001 - accuracy: 0.9274
Epoch 59/100
35/35 [==============================] - 0s 949us/step - loss: 0.1986 - accuracy: 0.9292
Epoch 60/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1976 - accuracy: 0.9292
Epoch 61/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1960 - accuracy: 0.9292
Epoch 62/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1954 - accuracy: 0.9283
Epoch 63/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1935 - accuracy: 0.9328
Epoch 64/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1927 - accuracy: 0.9347
Epoch 65/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1915 - accuracy: 0.9328
Epoch 66/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1906 - accuracy: 0.9319
Epoch 67/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1888 - accuracy: 0.9374
Epoch 68/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1884 - accuracy: 0.9338
Epoch 69/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1870 - accuracy: 0.9338
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1863 - accuracy: 0.9356
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1854 - accuracy: 0.9356
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1847 - accuracy: 0.9338
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1843 - accuracy: 0.9365
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1822 - accuracy: 0.9374
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1815 - accuracy: 0.9347
Epoch 76/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1795 - accuracy: 0.9347
Epoch 77/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1786 - accuracy: 0.9365
Epoch 78/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1779 - accuracy: 0.9383
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1768 - accuracy: 0.9383
Epoch 80/100

35/35 [==============================] - 0s 1ms/step - loss: 0.1759 - accuracy: 0.9383
Epoch 81/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1737 - accuracy: 0.9392
Epoch 82/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1734 - accuracy: 0.9365
Epoch 83/100
35/35 [==============================] - 0s 987us/step - loss: 0.1726 - accuracy: 0.9383
Epoch 84/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1713 - accuracy: 0.9392
Epoch 85/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1710 - accuracy: 0.9401
Epoch 86/100
 1/35 [..............................] - ETA: 0s - loss: 0.1222 - accuracy: 0.9688
Epoch 00086: saving model to checkpoints/weights.86.hdf5
35/35 [==============================] - 0s 2ms/step - loss: 0.1687 - accuracy: 0.9419
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1681 - accuracy: 0.9410
Epoch 88/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1671 - accuracy: 0.9428
Epoch 89/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1656 - accuracy: 0.9410
Epoch 90/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1642 - accuracy: 0.9446
Epoch 91/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1642 - accuracy: 0.9437
Epoch 92/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1623 - accuracy: 0.9428
Epoch 93/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1606 - accuracy: 0.9446
Epoch 94/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1597 - accuracy: 0.9446
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1591 - accuracy: 0.9437
Epoch 96/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1566 - accuracy: 0.9474
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1577 - accuracy: 0.9437
Epoch 98/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1551 - accuracy: 0.9465
Epoch 99/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1542 - accuracy: 0.9456
Epoch 100/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1531 - accuracy: 0.9456
12/12 - 0s - loss: 0.4197 - accuracy: 0.8832
Loss: 0.4196798801422119, Accuracy: 0.883152186870575

In [13]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn_new = tf.keras.models.Sequential()

# First hidden layer
nn_new.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn_new.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_new.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model
nn_new.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Restore the model weights
nn_new.load_weights("checkpoints/weights.58.hdf5")

# Evaluate the model using the test data
model_loss, model_accuracy = nn_new.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3557 - accuracy: 0.8832
Loss: 0.355736643075943, Accuracy: 0.883152186870575

In [14]:
# Export our model to HDF5 file
nn_new.save("trained_attrition.h5")

In [15]:
# Import the model to a new object
nn_imported = tf.keras.models.load_model('trained_attrition.h5')

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_new.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3557 - accuracy: 0.8832
Loss: 0.355736643075943, Accuracy: 0.883152186870575